﻿.board {
    border: 20px solid #664d03;
    height: 480px;
    width: 480px;
}

.square {
    float: left;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10
}

.promote_layout {
    float: left;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    z-index: 20
}

.figura {
    position: relative;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    cursor: grab;
    align-items: center;
    justify-content: center;
    z-index: 100;
    touch-action: none;
    user-select: none;
}

.promote {
    position: relative;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.figuraImage {
    width:55px;
    height:55px;
    cursor: grab;
    z-index: 100;
}

/*.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}*/


.field {
    width: 300px;
    height: 300px;
    border: 5px solid black;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center
}