﻿<div class="promote_layout" style="background-image: url('Files/Promotes/@(boardComponent?.SideColor +"PromoteLayout.png")');">
    <table>
        @{
            var index = 0;
            @for (int i = 1; i <= 2; i++)
            {
                <tr>
                @for (int j = 1; j <= 2; j++)
                {
                    <td><PromotionFigure FigureId="@promotes?[index++]"/></td>
                }
                </tr>
            }
        }
    </table>
</div>

@code {
    [CascadingParameter]
    internal Board boardComponent { get; set; }

    private BlazorBoard board => boardComponent?._blazorBoard;
    private string[] promotes => board != null ? BoardState.AllPromotes[board.Chess.MoveColor] : Array.Empty<string>();
}