﻿@inherits Figure

<div id="@FigureId" class="promote" @onclick="@(_ => ChoosePromotionFigure(figureName))">
    <img class="figuraImage" src="@GetFigureImage(figureName)"  alt="0"/>
</div>

@code {
    private void ChoosePromotionFigure(char name)
    {
        Console.WriteLine($"Choose {name}");
        _blazorBoard?.CompletePromotion(name);
    }
}