﻿<div class="board">
    @{
        for (int y = 7; y >= 0; y--)
            for (int x = 0; x <= 7; x++)
            {
                if (Chess != null && _boardState != null && _blazorBoard != null)
                {
                    Console.WriteLine("Refreshing board.");
                    char figure = _boardState.GetFigureAt(Chess, x, y)[0];
                    int xCoord = x;
                    int yCoord = y;
                    string squareName = _blazorBoard.CoordsToSquare(x, y);
                    string figureOnSquare = figure + squareName;
                    <CascadingValue Value="@this">
                        <Square @ref="_squares[squareName]" SquareId="@squareName" YCoord="@yCoord" XCoord="@xCoord" CurrFigure="figure">
                            @if (figure != '.')
                            {
                                <Figure FigureId="@figureOnSquare"></Figure>
                            }
                        </Square>
                    </CascadingValue>
                }
            }
    }
</div>
@if (_blazorBoard?.IsPromote ?? false)
        {
            string[] promoteNames = _boardState?.PromoteObjectNames[_boardState.Color];
            <div class="promote_layout">
                @if (promoteNames != null)
                {
                        <CascadingValue Value="@this">
                            <PromotionLayout />
                        </CascadingValue>
                }
            </div>
        }
<br/>

@code{
    internal BlazorBoard _blazorBoard;
    private Dictionary<string, Square> _squares => _blazorBoard.Squares;

    internal Chess Chess
    {
        get { return _blazorBoard?.Chess; }
        set { _blazorBoard.Chess = value; }
    }

    private BoardState _boardState => _blazorBoard?.BoardState;
    internal IJSRuntime JsRuntime => JS;

    [CascadingParameter]
    public IBoardConsumer boardConsumer { get; set; }

    [Parameter]
    public string Fen { get; set; }

    [Parameter]
    public SideColor SideColor { get; set; }

    protected override void OnInitialized()
    {
        _blazorBoard = new BlazorBoard(this);
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await JS.InvokeVoidAsync("setDropzone", ".square");
        await JS.InvokeVoidAsync("dragAndDrop", ".figura");
    }

    private async Task ClickHandle()
    {
        await Task.Delay(10);
        Console.Write("Clicked!");
    }

    /*
    internal string CoordsToSquare(int x, int y)
    {
        return _boardState?.CoordsToSquare(x, y) ?? "";
    }*/

    internal void Refresh()
    {
        StateHasChanged();
    }

    internal void SetupBoard(string fen, SideColor sideColor = SideColor.White, string lastMove = "")
    {
        _blazorBoard.SetUpBoard(fen, sideColor, lastMove);
    }

}