﻿@using ChessBlazor.Main
<div id="@FigureId" class="figura" square="@_squareName">
    <img class="figuraImage" src="@GetFigureImage(figureName)" />
</div>

@code {

    [CascadingParameter]
    protected Board Board { get; set; }

    [Parameter]
    public string FigureId { get; set; }

    protected BlazorBoard _blazorBoard => Board?._blazorBoard;
    protected char figureName => FigureId != null ? FigureId[0] : '.';

    string _squareName;

    const string source = @"Files/Figures";

    Dictionary<char, string> figureImages = new Dictionary<char, string>()
    {
        {'K', $"{source}/WhiteKing.png" },
        {'Q', $"{source}/WhiteQueen.png" },
        {'R', $"{source}/WhiteRook.png" },
        {'B', $"{source}/WhiteBishop.png" },
        {'N', $"{source}/WhiteKnight.png" },
        {'P', $"{source}/WhitePawn.png" },
        {'k', $"{source}/BlackKing.png" },
        {'q', $"{source}/BlackQueen.png" },
        {'r', $"{source}/BlackRook.png" },
        {'b', $"{source}/BlackBishop.png" },
        {'n', $"{source}/BlackKnight.png" },
        {'p', $"{source}/BlackPawn.png" }
    };

    protected override void OnInitialized()
    {
        //_squareName = Board?.CoordsToSquare(XCoord, YCoord);
        //_figureOnSquare = FigureName + _squareName;
    }

    protected string GetFigureImage(char figure)
    {
        if (figure != '.')
            return figureImages[figure];

        else return "";
    }

    public override string ToString()
    {
        return figureName.ToString();
    }
}
