﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://woodchess.art/privacy.html" target="_blank">Privacy</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>