﻿@page "/puzzles"
@using WebSocketModels.Models.Puzzles
@using System.Text
@using WebSocketModels.Models
@implements IBoardConsumer

@if (_puzzle == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h3>@_puzzle?.Name</h3>
    <div class="col-md-6">
        <CascadingValue Value="@this">
                @if (_gameInfo != null)
                {
                    <Board @ref="@_board" Fen=@_gameInfo.InitialFen SideColor="@_gameInfo.PlayerColor"></Board>
                }
        </CascadingValue>
    </div>
    
    <text>@_toMove to move</text>
    <br/>
    <text>@_message</text>
    @if(isResolved)
    {
        <br/><button class="btn btn-success" @onclick="@GetNextPuzzle">NEXT</button>
    }
}

@code {
    Board _board;
    private PuzzleEngine _puzzleEngine { get; set; } = new();
    GameInfo _gameInfo;
    private PuzzleDto _puzzle;
    private string _message { get; set; }
    private string _toMove;
    private bool isResolved { get; set; }
    private string serverName => @Configuration["Server"];
    private Chess Chess
    {
        get => _board?._blazorBoard.Chess;
        set => _board._blazorBoard.Chess = value;
    }

    protected override async Task OnInitializedAsync()
    {
        if (_puzzle == null || isResolved)
            await GetNextPuzzle();
    }

    private async Task GetNextPuzzle()
    {
        Console.WriteLine($"[Blazor] Server {serverName}");
        _puzzle = JsonConvert.DeserializeObject<PuzzleDto>(
            await Http.GetStringAsync($"{serverName}/puzzle_api/puzzles/GetNext/SimpleMates/5"));
        if (_puzzle != null)
        {
            Console.WriteLine($"Received puzzle {_puzzle}");
            isResolved = false;
            _puzzleEngine.LoadPuzzle(_puzzle);
            _gameInfo = _puzzleEngine.GameInfo;
            /*if (_board != null)
            {
                _board.Fen = _gameInfo?.InitialFen;
                _board.SideColor = _gameInfo?.PlayerColor ?? SideColor.White;
            }*/
            _toMove = _gameInfo?.PlayerColor.ToString();
            _message = "";
            _board?.SetupBoard(_gameInfo?.InitialFen, _gameInfo?.PlayerColor ?? SideColor.White);
            StateHasChanged();
            //_board?.Refresh();
        }
    }

    private async void HandleMoveAsync(string move)
    {
        string figureOnSquare = move.Substring(0, 3);
        string toSquare = move.Substring(3, 2);
        GuessMoveResponse response = null;
        if (!String.IsNullOrEmpty(move))
            response = _puzzleEngine.GuessMove(move);
        if (response == null)
        {
            await JS.InvokeVoidAsync("resetPosition", $"#{figureOnSquare}");
            return;
        }
        _message = response.Message;
        Console.WriteLine($"Response message: {response?.Message}");

        //TODO get from configuration
        int delayValue = 700;
        if (response.Result != ResultType.Fail)
        {
            Chess = Chess?.Move(move);
            //_board1?.UpdateFigureId(figureOnSquare, toSquare);
            StateHasChanged();
            if (response.Result == ResultType.PuzzleSolved)
            {
                //Chess = Chess?.Move(move);
                int solutionKey = _puzzleEngine.GetSolutionKey(_puzzleEngine.GameInfo);
                var puzzleFinishModel = new PuzzleFinishModel
                {
                    PuzzleId = _puzzle.Id,
                    PlayerId = 5,
                    SolutionKey = solutionKey,
                    IsResolved = true
                };

                var json = JsonConvert.SerializeObject(puzzleFinishModel);
                
                /*var values = new Dictionary<string, string>
                {
                    {"Id", _puzzle.Id},
                    {"PlayerId", "5"},
                    {"SolutionKey", solutionKey.ToString()},
                    {"IsResolved", "true"}
                };*/
                var content = new StringContent(json, Encoding.UTF8, "application/json");
                
                await Http.PostAsync($"{serverName}/puzzle_api/puzzles/Finish", content);
                isResolved = true;
                StateHasChanged();
                return;
            }
            
            if(Chess != null) 
                Chess = Chess.Move(response.ResponsePly.Move);
            
            
            await Task.Delay(delayValue);
            StateHasChanged();
        }
        else
        {
            Console.WriteLine($"Move {move} not correct.");
            await JS.InvokeVoidAsync("resetPosition", $"#{figureOnSquare}");
        }
    }

    public override string ToString()
    {
        return "PuzzleRoom";
    }

    public bool IsMyMove()
    {
        return true;
    }

    public void Rotate()
    {
    }

    public void SendMove(string move)
    {
        HandleMoveAsync(move);
    }

    public bool IsValidPick(SideColor figureColor)
    {
        return true;
    }
}