﻿@inject IJSRuntime JS;

@page "/Sandbox"
<h3>Sandbox</h3>
<div id="Field1" class="field">
    <div id="bigfigure" class="figura" style="top: @offsetY; left: @offsetX;">
        <img class="figuraImage" src="/Files/Figures/BlackBishop.png" />
    </div>
</div>
<div id="Field2" class="field"></div>
<input type="text" @bind-value="@offsetX" @bind-value:event="oninput" />
<input type="text" @bind-value="@offsetY" @bind-value:event="oninput" />

@code {
    private static Action<string> _jsAction;
    string offsetX = "0px";
    string offsetY = "0px";

    protected override void OnInitialized()
    {
        _jsAction = PrintField;
    }
    
    protected override async void OnAfterRender(bool firstRender)
    {
        await JS.InvokeVoidAsync("setDroppable");
        await JS.InvokeVoidAsync("setDraggable");
    }
    
    [JSInvokable]
    public static void PrintFieldName(string field)
    {
        _jsAction?.Invoke(field);
    }

    public async void PrintField(string field)
    {
        Console.WriteLine($"Drop on {field}");
        await JS.InvokeVoidAsync("resetPosition", "bigfigure");
    }
}