﻿@page "/"
@implements IBoardConsumer

<h3>SimpleBoard</h3>
<CascadingValue Value="@this">
    <Board @ref="boardImpl" Fen=@fen SideColor="@SideColor.White"></Board>
</CascadingValue>

@code {
    private Board boardImpl;

    Chess chess
    {
        get => boardImpl._blazorBoard.Chess;
        set => boardImpl._blazorBoard.Chess = value;
    }
    private string fen = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";

    public bool IsMyMove()
    {
        return true;
    }

    public void Rotate()
    {
        throw new NotImplementedException();
    }

    public void SendMove(string move)
    {
        chess = chess?.Move(move);
        StateHasChanged();
    }

    public bool IsValidPick(SideColor figureColor)
    {
        return true;
    }

}